<form>
    <div id="template-itbz" class="form-group ">
        <label id="template-ipik" class="label ">Name</label>
        <input id="template-ilxq" class="input form-control " [(ngModel)]="email.email" type="text">
    </div>
    
    <div id="template-i6pv" class="form-group ">
        <label id="template-i21f" class="label ">Email</label>
        <input id="template-inwv" class="input form-control " [(ngModel)]="email.Enter_Name" type="text">
    </div>
    
    <div id="template-igg3" class="form-group ">
        <label id="template-i5o4" class="label ">Gender</label>
        <input type="checkbox" id="template-irhs8" class="checkbox ">
        <label id="template-i9j1c" class="checkbox-label ">M</label>
        <input type="checkbox" id="template-ieexm" class="checkbox ">
        <label id="template-i5tbh" class="checkbox-label ">F</label>
    </div>
    
    <div id="template-ikv7h" class="form-group ">
        <label id="template-if1l6" class="label ">Message</label>
        <textarea type="text" id="template-iaoot" class="textarea form-control "></textarea>
    </div>
    
    <div id="template-ik971" class="form-group ">
        <button type="submit" id="template-i1g1d"  class="button btn btn-primary ">Send</button>
    </div>
    
</form>